/*Main CSS*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/*font-family: 'Lato', sans-serif;  */


/*Home Page*/

body,
html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

th:not(:first-child) {
    /* min-width: 120px; */
}

th {
    padding: 0 8px !important;
    height: 0 !important;
    position: relative;
}

td,
th {
    white-space: nowrap;
}

.home {
    background: #f6f7fa;
}

.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}

.logo img {
    max-width: 180px;
    padding: 16px 0 17px;
    width: 100%;
}

.header-top {
    margin: 0;
    padding-top: 2px;
}

.header-top img {
    border-radius: 50%;
    max-width: 48px !important;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    border: 1px solid #c0cadd;
    margin-top: -4px;
}

.add-project {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 27px 10px 27px;
    position: relative;
}

.header-rightside .nav>li>a:focus,
.header-rightside .nav>li>a:hover {
    background: none;
    text-decoration: none;
}

.add-project:hover {
    color: #ffffff;
}

.header-top i {
    color: #0e1a35;
}

.icon-info {
    position: relative;
}

.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 8px;
    position: absolute;
    top: -9px;
}

.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}

.header-top li {
    display: inline-block;
    text-align: center;
}

.header-top .dropdown-toggle {
    color: #0e1a35;
}

.header-top .dropdown-menu {
    border: medium none;
    left: -85px;
    padding: 17px;
}

.view {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 15px;
}

.navbar-content>span {
    font-size: 13px;
    font-weight: 700;
}

.img-responsive {
    width: 100%;
}

.search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    color: #8492af;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav>li>a.img {
    padding: 8px 15px;
}

.circle-logo {
    margin: 0 auto;
    max-width: 30px !important;
    text-align: center;
}

.hidden-xs {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard {
    overflow: auto;
}

.user-dashboard h1 {
    color: #0e1a35;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 21px 0;
}


/* modal styles */

.close,
.close:focus,
.close:hover {
    color: #000;
    ;
    opacity: 1;
    text-shadow: none;
}
.modal-body{
    padding:16px 20px;
}
.modal-title{
    font-size:18px;
    color:#222;
}
.close span{
    color:#888;
    font-weight:bold;
}


/* .modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}

.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 200px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
} */

.modal-header.login-header h4 {
    color: #000;
}

.modal-footer .add-project {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}

.modal-footer .add-project::before {
    display: none;
}

.modal-footer {
    border: 0 none;
    padding: 12px;
    text-align: right;
}

.cancel {
    background: #0E1A35;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}


/* .modal {
    top: 20%;
} */

.modal-header .close {
    margin-top: 2px;
}

.search input:focus {
    border-bottom: 1px solid #BDC4D4;
    line-height: 22px;
    transition: 0.1s all;
}


/* navigation */

.nav-side-menu {
    font-size: 12px;
    padding: 15px;
}

.nav-side-menu .brand {
    /* background-color: #23282e; */
    line-height: 50px;
    display: block;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    background: #ddd;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    /* float: right; */
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    /* background-color: #4f5b69; */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}


/* end navigation */


/* tabs */


/* structure */

.flex {
    display: flex;
}
.w-100per{
    width:100%;
}

#main-wrp {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-and-table {
    display: flex;
    flex-grow: 1;
}

.nav-side-menu-header {
    padding: 9px 15px;
    border-bottom: 1px solid #ddd;
}

.nav-side-menu {
    flex-grow: 1;
    overflow-y: auto;
}

.nav-side-menu-footer {
    padding: 10px 15px;
    border-top: 1px solid #ddd;
}

#user-board {
    border-left: 1px solid #ddd;
}


/*Main CSS*/

.filterinputusername {
    color: black;
}

.filterConditionName {
    color: black;
}


/* MUSTAFA  */

.sidebar {
    /* background: #384042;
    color: #677679; */
    position: relative;
}

#filter-content .form-check-label .form-control {
    margin-left: 21px;
    margin-top: 10px;
}

.form-check-label {
    text-transform: uppercase;
}

#tablist {
    background: #357ede;
    text-transform: capitalize;
    /* overflow: hidden; */
    margin: 0;
    padding: 0 5px 0 0;
}

#tablist>li {
    display: block;
    float: left;
}
#tablist>li a:hover, #tablist>li a:focus, #tablist>li a:active, #tablist>li a:visited{
    background: #333 !important;
}

#tablist>li.active a{
    background: #333 !important;
}


#tablist>li>a {
    /* color: #fff !important; */
    color: rgba(255, 255, 255, 0.7) !important;
    padding: 10px;
    display: block;
    text-decoration: none;
}

#tablist>li>a:hover {
    background: transparent;
    color: #fff;
}

#tablist>li.active>a {
    background: #2767bd;
    border-radius: 0;
    color: #fff !important;
}

#filter-content .form-check-label input[type="checkbox"] {
    margin-right: 15px;
    position: relative;
}

#filter-content .form-check-label input[type="checkbox"]:before {
    box-sizing: border-box;
    -webkit-transition: .24s;
    transition: .24s;
    background: #f6f7fa;
    position: absolute;
    border-color: #525252;
    top: -4px;
    left: -1px;
    width: 18px;
    height: 18px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    content: ' ';
}

#filter-content .form-check-label input[type="checkbox"]:checked:before {
    background: rgba(16, 108, 200, 0.87);
    border-color: rgba(16, 108, 200, 0.87);
}

#filter-content .form-check-label input[type="checkbox"]:checked::after {
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 4.66667px;
    top: -2.77778px;
    display: table;
    width: 6.66667px;
    height: 13.33333px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
    border-color: #fff;
}

#filter-content {
    background: #fff;
}

.radio-label {
    text-transform: capitalize;
}

.radio-label input[type="radio"] {
    margin-right: 4px;
}

.nav-side-menu li:last-child {
    border-bottom: 0;
    margin-bottom: 10px;
}

.filter-option {
    margin-left: 22px;
}
.filter-option .form-check{
    padding:10px 0;
}

.user-dashboard {
    padding: 38px 0 0;
    /* width: 100%; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    flex: 1;
    background:#fff;
    /* max-width: 1000px; */
    width: 100%;
}
.mb20{
    margin-bottom:20px;
}

.user-dashboard .table>thead>tr>th {
    border-bottom: none;
}

.scroll-x {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 1px solid #ddd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#edit_users_body label,
#add_users_body label {
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 5px;
}

.fixed-header {
    position: absolute;
    text-transform: capitalize;
    top: 8px;
}

.table tr:hover {
    background: #f5f5f5;
}

.table>tbody>tr:first-child>td {
    border-top: none;
}


/* -------------------------------- 
side bar component start
-------------------------------- */

#tablist>li>a.cd-btn {
    background: #333;
}

.cd-panel {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 34px;
    z-index: 99;
    background: #fff;
    width: 300px;
    border-right: 1px solid #ddd;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
}

.cd-wrp {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cd-panel.is-visible {
    display: block;
}

.cd-panel-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.cd-panel-close {
    top: 8px;
    position: relative;
}


/* -------------------------------- 
side bar component end
-------------------------------- */

#saveTabModel .radio input[type=radio] {
    top: -2px;
}

.dropdown-menu>li>a {
    padding: 3px 7px;
}

.dropdown-menu>li.userInfo {
    padding: 0 7px;
}

.userInfo p {
    margin-top: 4px;
}

.nav>li>a>img {
    vertical-align: middle
}

.main-header {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.search-form {
    position: relative;
    margin-right: 2px;
    float: left;
}

.search-form .form-control {
    width: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: transparent;
    border-radius: 0;
    color: #fff;
    float: left;
    border-color: transparent;
    box-shadow:none;
    height:29px;
}
.search-form .fa-search{
    color:#000;
    position: absolute;
    cursor: pointer;
    top: 7px;
    right: 8px;
}
.search-form input.form-control{
    border: none !important;
    box-shadow: none !important;
    border:1px solid rgba(34,34,34,.2) !important;
    /* border-right:0px solid transparent !important; */
    right: 0;
    position: relative;
    color:#222;
    height:30px;
    border-radius: 2px;
    width:0;
    position: relative;
    z-index: 1;
}
.table-search input.form-control{
    border: none !important;
    box-shadow: none !important;
    border:1px solid rgba(34,34,34,.2) !important;
    border-right:0px solid transparent !important;
    right: -30px;
    position: relative;
    color:#222;
    height:30px;
    border-radius: 2px;
    width:0;
    position: relative;
    z-index: 1;
}
.li-radio{
    padding:10px 20px;
}
.radio-label input[type="radio"]{
    margin-right:10px;
}
.filter-list li{
    padding:10px 0;
}
.m-l-5{
    margin-left:5px !important;
}
.m-t-0{
    margin-top:0 !important;
}

.search-form i {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 6px;
}

.search-form .form-control:focus {
    width: 250px;
    z-index: 1;
    padding: 6px 20px 6px 12px;
    background:transparent;
    box-shadow: none;
    border:1px solid #888;
}


#user-board .table.basic td {
    /* border-right: 1px solid #ddd; */
    border-top: 1px solid rgba(34,34,34,.1);
    color:#222;
}
#user-board .table.basic th{
    font-weight:bold;
    color:#888;
}
#user-board .table.basic th .dropdowncolumn span{
    text-decoration: underline;
    padding:0 0 10px 0;
    vertical-align: middle;
}
#user-board .table.basic th .dropdowncolumn span span{
    position: relative;
    top:5px;
}
.dropdowncolumn:hover .dropdown-toggle{
    display:block !important;
}

#tablist>li>a {
    border-right: 1px solid #1767d2;
}

#tablist>li:nth-child(1)>a {
    color: #fff !important;
}

.tablist {
    background: #357ede;
    height: 35px;
}

.user_dropdown {
    margin-right: -5px;
}

.user_dropdown .dropdown-toggle {
    color: #fff;
}

.user_dropdown .dropdown-toggle:hover {
    background: #2767bd;
    color: #fff;
}

.user_dropdown .open .dropdown-toggle:focus,
.user_dropdown .open .dropdown-toggle:hover {
    background: #2767bd;
}

.control-caption {
    margin: 0px 15px;
}

.graph-form {
    padding: 10px;
}

#myChart {
    width: 100%;
    height: 400px;
    max-width:900px;
}
.m-l-15{
    margin-left:15px;
}
.topborder{position:relative; width:100%; padding:25px 0 !important;}
.topborder:before{
    content: '';
    height: 1px;
    display: block;
    background-color: rgba(34,34,34,.1);
    margin: 5px 0 25px;
    position: absolute;
    width:100%;
    top:0;
}

.graph-page-container {
    padding: 10px;
}

.charts-container {
    display: block;
    clear: both;
    margin: 20px;
}

.chart-first {
    width: 100%;
}

.pie-chart-container {
    margin: 20px 0px;
}

.top-chart-container {
    position: relative;
}

.ajax-loader-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.loading-icon {
    text-align: center;
    margin-top: 12%;
}

.column-caption {
    text-align: center;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: bold;
}

#myBtn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #367dde;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.fa-angle-up:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    color: #ffffff;
    margin-left: 15px;
    position: absolute;
    margin-top: -8px;
}

#wiz {
    height: 40px;
    width: 40px;
    margin-left: 10%;
    position: absolute;
    margin-top: 20%;
}
.filter_group{font-weight: bold;margin-left:-15px;}

.custom-input{
    background-color:#ccc;
    border-style: none;
    box-shadow: none;
    margin-top: 5px;
}

.custom-input:focus{
    background-color:#fff;
    border: 1px solid #fff;
    box-shadow: none;
}
.inline-b{
    display:inline-block;
}
.btn-lable{
    padding: 4px 12px 7px;
    line-height: 15px;
    border-color: rgba(34,34,34,.2);
}
.sources-container{display: none;}
.sp_view_count, .total_count{
    display: inline-block;
    padding: 3px 0 0 21px;
    font-size: 18px;
}
.btn-group .btn{
    margin-right:0;
}
.total_count{
    color:#888;
}
.dropdown-menu{
    position: absolute;
    top:100%;
}
.li-checkbox{
    padding:0;
}
.li-checkbox li:hover{
    background: #3D6FF2;
    color:#fff;
}
.li-checkbox .checkbox{
    margin-top:6px;
    margin-bottom:6px;
}
.form-check-label{
    top: 2px;
    position: relative;
}
.newSegment{
    position: relative;
    top: 15px;
}
#showSaveAs{
    display: block !important;
}
.p-r-zero{
    padding-right:0;
}
.p-l-zero{
    padding-left:0;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.loader:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255,255, 0.9);
    z-index: 9;
}
.loader  .loading-box {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 9;
  }
  [class*="loader-"] {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    pointer-events: none;
  }
  .loader .loader-icon {
    border: 5px solid transparent;
    border-top-color: #61c6e8;
    border-radius: 50%;
    animation: 1s loader-icon linear infinite;
    position: relative;
  }
  @keyframes loader-icon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  /* new style */
.user-custom-dashboard{
    padding-top:0;
}

.datepicker{
    position: absolute !important;
}
.table-custom-res{
    width:auto !important;
}
.table-custom-res tr th{
font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #888;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    text-transform: capitalize;
    position: relative;
}
.table-custom-res  thead{
    border-right:1px solid #ececec;
}
.table-custom-res tr td:not(:first-child), .table-custom-res tr th:not(:first-child){
    min-width: 100px;
    max-width: 200px;
}

.table-custom-res tr td, .table-custom-res tr th{
    overflow: visible;
    border-bottom:1px solid #ececec;
    padding:20px !important;
    color:#222;
    font-size:14px;
}
.table-custom-res tr td:not(:first-child){
    overflow: hidden;
}
.table-custom-res tr th .dropdowncolumn{
top:10px;
}
.table-custom-res .fix-header tr th .dropdowncolumn{
    top:0;
    }
.table-custom-res tr td{
    padding:10px 10px 10px 20px !important;
}
.table-custom-res tr td select{
    margin-top:0;
}
.table-custom-res span.dropdown-toggle{
    overflow: hidden;
    max-width: 200px;
    display: block;
}

.table-custom-res tbody{
    border:1px solid #ececec;
}
.fix-header div{
    position:fixed;
    top:0;
    background:#fff;
    width:100%;
    border-bottom:1px solid #ececec;
    padding:10px 0;
}
.fix-header th:first-child .dropdowncolumn {
    left: 0;
}
.fix-header th:first-child .dropdowncolumn span{
    display: block;
    margin-left: 10px;
}
.table-between{ display: none;}





